<!DOCTYPE html>

<html>

    <head>
        <title>Casa Criativa</title>
        <meta charset="UTF-8"/>

        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
        <link href="style.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <div class="init" id="column1">
            <section id="intro">
                <header>
                    <img src="imgs/logo.png" alt="logo site" width="299" height="64"/>
                </header>

                <main>
                    <p>
                        Ficar em casa em períodos longos,<br/>
                        não deve ser nada fácil.
                    </p>
                        Por isso, iremos catalogar ideias,<br/> <b>brincadeiras, jogos, filmes, livros,<br/> cursos,
                        dicas</b> e tudo que for<br/> necessário para tornar esse<br/> momento mais 
                        interessante.
                    <p>
                        Comece clicando em <b class="bold">ver ideias</b> para<br/> ver as  
                        ideias cadastradas e<br/> contribua <b class="bold">adicioando a sua ideia</b>
                    </p>
                </main>

                <section id="btns">
                    <button class="btnpg1" onclick="onOff()">+ adicionar ideia</button>
    
                    <a href="/ideas" id="fat" class="btn">ver ideias</a>
                </section>

                <footer>
                    <p id="footer">developed by: Gabriel Todino</p>
                </footer>

            </section>

            <section id="last-ideas">
                {% for idea in ideas %}
                    <div class="idea">
                        <img src="{{idea.image}}" alt="idea icon {{idea.title}}"/>
                        
                        <div class="content">
                            <h3>{{idea.title}}</h3>
                            <p>{{idea.category}}</p>
                            <div class="description">
                                {{idea.description}}
                            </div>
                            <a href="{{idea.link}}">Ir para ideia</a>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>

        <div id="modal" class="hide">
            <div class="content">
                <h1>Nova ideia</h1>

                <form action="/" method="POST" onsubmit="return checkFields(event)">

                    <div class="input-wrapper">
                        <label for="title">titulo da idea</label>
                        <input type="text" name="title">
                    </div>

                    <div class="input-wrapper">                    
                        <label for="category">categoria</label>
                        <input type="text" name="category">
                    </div>

                    <div class="input-wrapper">

                        <label for="image">link da imagem</label>
                        <input type="url" name="image">
                    </div>

                    <div class="input-wrapper">    
                        <label for="description">digite uma descricao para sua ideia</label>
                        <textarea name="description" cols="30" rows="10"></textarea>
                    </div>

                    <div class="input-wrapper">                    
                        <label for="link">link da ideia</label>
                        <input type="url" name="link">
                    </div>

                     <a href="#" onclick="onOff()">voltar</a>
                     <button>Salvar</button>

                </form>
            </div>
        </div>

        <script src="main.js"></script>
        
    </body>

</html>